.venv
.vscode

checkpoint/01_pix2pix_v1/D/*
checkpoint/01_pix2pix_v1/G/*
checkpoint/02_pix2pix_v2/D/*
checkpoint/02_pix2pix_v2/G/*
checkpoint/03_pix2pix_v3/D/*
checkpoint/03_pix2pix_v3/G/*
checkpoint/04_pix2pix_v4/D/*
checkpoint/04_pix2pix_v4/G/*

__pycache__/

data/img_train/*
data/img_test/*

output/test_pred/*

log.csv

Pipfile.lock